<div class="block ">
  <div
    id="<%= dom_id message %>"
    class="
      usr-<%= message.user_id %>
      p-2
      w-fit
      rounded
      bg-blue-300
    "
  >
    <span class="">
      <%= message.user.email %>
    </span>
    <span class="">
      <%= message.content %>
    </span>
  </div>
</div>
